/* AU Color Scheme */
$au_orange: #F59720;
$black: #000000;
$gray: #A5ACAF;
$white: #FFFFFF;
$light_yellow: #F8E498;
$yellow: #F2D653;
$accent_orange: #FFB652;
$red: #BD4F19;
$brown: #9B6E51;
$green: #90986B;
$blue: #89A8E0;
$au_readable_orange: #B44723;

/* Custom Bootstrap Colors */


/* Custom Colors */
$gray-medium-light: #EAEAEA;
$completed-true: #99FF99;
$completed-false: #FF9999;
