<footer class="footer">
  <nav class="text-center">
    <ul>
      <li><%= link_to "Library Homepage",   'http://library.anderson.edu' %></li>
      <li><%= link_to "Contact", 'mailto:pshowell@anderson.edu' %></li>
      <li><a href="https://www.facebook.com/Nicholson-Library-Anderson-Indiana-117930188244730/?fref=ts" target="_blank">News</a></li>
    </ul>
  </nav>
  <div class="lib-logo">
      <%= link_to image_tag('logo.png', alt: 'Nicholson Library Logo'), 'http://library.anderson.edu', target: '_blank' %>
  </div>
  <small>
    <a href="https://github.com/NicLib/arch_record_keeper" target="_blank">Archives Record Keeper</a> built by <a href="https://github.com/pshowell23" target="_blank">Preston Howell</a>
  </small>
</footer>
